<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title pull-left">MSI download</div>
        <div class="panel-title pull-right">( <i id="msiDownloadCount"></i> )</div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <p>MSI installer with examples and wizard templates.</p>
        <a id="msiDownloadLink" href="https://github.com/WixEdit/WixEdit/releases/latest" class="btn btn-lg btn-outline">
          <i class="glyphicon glyphicon-save"></i>
          Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title pull-left">Sources download</div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <p>Zip file containing sources.</p>
        <a id="sourcesDownloadLink" href="https://github.com/WixEdit/WixEdit/releases/latest" class="btn btn-lg btn-outline">
          <i class="glyphicon glyphicon-save"></i>
          Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title pull-left">Binaries download</div>
        <div class="panel-title pull-right">( <i id="binariesDownloadCount"></i> )</div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <p>Zip file containing binaries with examples and templates.</p>
        <a id="binariesDownloadLink" href="https://github.com/WixEdit/WixEdit/releases/latest" class="btn btn-lg btn-outline">
          <i class="glyphicon glyphicon-save"></i>
          Download
        </a>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title pull-left">Other Versions</div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">
        <p>Browse for other versions.</p>
        <a href="https://github.com/WixEdit/WixEdit/releases" class="btn btn-lg btn-outline">
          <i class="glyphicon glyphicon-th-list"></i>
          Browse
        </a>
      </div>
    </div>
  </div>
</div>
